pip
wheel
jupyterlab
jupyterlab_code_formatter
black
isort
jupyterlab_tabnine
ipywidgets
beautifulsoup4
lxml
matplotlib
more-itertools
networkx
numpy
opencv-contrib-python
openpyxl
pandas
pillow
python-wordpress-xmlrpc
pyyaml
requests
scikit-image
scikit-learn
scipy
seaborn
statsmodels
sympy
tabulate
torch
torchaudio
torchvision
tqdm
